/*
   New Perspectives on HTML and CSS
   Tutorial 5
   Case Problem 2

   CCC Calendar Table style sheet
   Author: 
   Date:   

   Filename:         calendar.css
   Supporting Files: bottom.jpg, bottomleft.jpg, bottomright.jpg,
                     left.jpg, right.jpg, top.jpg,
                     tab.jpg, topleft.jpg, topright.jpg, redtab.jpg

*/

table{

   border-spacing: 5px;
   font-size: 8px;
   margin-top: 20px;
   margin-bottom: 5px;
   margin-left: auto;
   margin-right: auto;
   padding: 40px;
   width: 650px;
   

}

th{
    border: 1px solid black;
}

table.calendar caption{
   text-align: center;
   padding-bottom: 10px;
   font-size: 16px;
   letter-spacing: 3px;
   width: 650px;

}

.topleft {
   background-image: url("../image/topleft.jpg") ;
   background-repeat: no-repeat;  
   background-position: top left;

}

.topright {
   background-image: url("../image/topright.jpg") ;
   background-repeat: no-repeat;  
   background-position: top right;
}

.bottomleft {
   background-image: url("../image/bottomleft.jpg") ;
   background-repeat: no-repeat;  
   background-position: bottom left;
}

.bottomright {
   background-image: url("../image/bottomright.jpg") ;
   background-repeat: no-repeat;  
   background-position: bottom right;
}

.top {
   background-image: url("../image/top.jpg") ;
   background-repeat: repeat-x;  
   background-position: top;
}

.left {
   background-image: url("../image/left.jpg");
   background-repeat: repeat-y;
   background-position: left;
}

.right {
   background-image: url("../image/right.jpg") ;
   background-repeat: repeat-y;  
   background-position: right;
}

.bottom {
   background-image: url("../image/bottom.jpg") ;
   background-repeat: repeat-x;  
   background-position: bottom;
}

table.h3{
   font-size: 8px;
}

