/*
   New Perspectives on HTML and CSS
   Tutorial 3
   Case Problem 2

   Mountain Wheels Text and Color Style
   Author: 
   Date:   

   Filename:         mw_layout.css
   Supporting Files: none

*/

body{
   font-family: Tahoma, Geneva, sans-serif;
}

#articleheader {
   font-size: 18px;
   font-weight: normal;
   letter-spacing: 7px;
   text-align: center;
   
}
nav ul{
   background-color: rgb(125,120,89);
   line-height: 3em
   list-style-type: none;

}

nav ul:hover{
   background-color: rgb(131,121,36);
  
}

ul{
   list-style-image: url('image/wheelmarker.png');
     
}

li a:link{
  color: white;
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}

li a:hover{
  

}

